/* ================================
   Change Password (change_password.css)
=============================== */

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Disabled submit button styling */
button#setPasswordButton:disabled {
  background-color: gray;
  color: #fff;
  opacity: 0.5;
}

/* Disabled submit button styling */
button#setPasswordButton:disabled:hover {
  transform: none;
  cursor: pointer;
}

button#setPasswordButton {
  font-size: 16px;
  background-color: #3fb2d8;
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  border: 1px solid #747474;
  width: fit-content;
}

#setPasswordButton:hover {
  background-color: #6cc8ec;
  transform: scale(1.05);
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#change_password_form .infoType {
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoType input[type="password"],
.infoType input[type="text"] {
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.infoType input[type="password"]:focus {
  border-color: #000;
  outline: none;
}

.password-container {
  position: relative;
  width: 100%;
}

/* Show/hide password styling */
.toggle-text {
  position: absolute;
  top: 50%;
  right: 10px;
  height: 20px;
  width: 20px;
  transform: translateY(-40%);
  cursor: pointer;
  user-select: none;
}

.toggle-text:hover {
  opacity: 0.6;
}

/* Error message styling */
#change_password_current_error,
#change_password_user_not_found_error,
#change_password_general_error {
  color: red;
  margin-top: 10px;
}

#change_password_success {
  color: green;
  margin-top: 10px;
}

/* Password requirements box */
.password-requirements {
  list-style: none;
  padding: 0;
  display: none; /* Hidden by default */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.requirement {
  color: red; /* Default color for unmet requirements */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.requirement.met {
  color: green; /* Color for met requirements */
}

.requirement i {
  margin-right: 5px;
}

.requirement i.x-mark::before {
  content: '❌'; /* Red X mark for unmet requirements */
}

.requirement i.check-mark::before {
  content: '✔️'; /* Green check mark for met requirements */
}

/* Error message styling */
.error-message {
  margin-top: 5px;
  color: red;
  display: none;
}

/* Remove browser's built-in password visibility icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
    display: none;
}