/* ================================
   Profile Page (profile.css)
================================ */

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0e0e0; 
  color: #000;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Container Styles */
.container {
  display: flex;
  width: 95%;
  max-width: 900px; 
  margin: 0 auto;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 1200px; 
  margin: 120px auto 20px; 
  padding: 0 20px;
  flex: 1;
}

.site-title {
  font-size: 2em;
  font-weight: 700;
  color: #000;
  margin: 0;
}

/* User Information Styles */
.profile-container {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #cecece;
  width: fit-content;
  height: fit-content;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 80px;
  position: relative;
}

.user-info strong {
  font-size: 1.3em;
  font-weight: 700;
}


/* Input Style */
.profile input[type="text"], 
.profile input[type="email"] {
  padding: 12px;
  margin-bottom: 19.2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 370px;
  box-sizing: border-box;
}

.profile input[type="text"]:focus, 
.profile input[type="email"]:focus {
  border-color: #000;
  outline: none;
}

/* Button Styles */
.button-container #changePasswordButton {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.button-container #changePasswordButton:hover {
  text-decoration: underline;
  color: black;
  transform: scale(1);
}

.button-container #deleteEmailButton {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.button-container #deleteEmailButton:hover {
  text-decoration: underline;
  color: black;
  transform: scale(1);
  background: #cecece;
}

#editProfileButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

#saveChangesButton {
  font-size: 16px;
  color: #fff;
  background-color: #4cb95b;
  width: 65px;
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  border: 1px solid #747474;
}

#saveChangesButton:hover {
  background-color: #43a250;
  transform: scale(1.05);
}

#cancelEditButton {
  font-size: 16px;
  background-color: #cecece;
  width: 65px;
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  border: 1px solid #a7a7a7;
}

#cancelEditButton:hover {
  background-color: #bebebe;
  transform: scale(1.05);
}

#saveCancelButtons {
  position: absolute;
  grid-template-columns: repeat(2, auto);
  justify-content: right;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  border: #fff;
}

#submitDeleteEmail {
  background-color:#ff00009d;
  color: #000000;
}

#submitDeleteEmail:hover {
  background-color:#aa00009d;
  transform: scale(1.05);
  color: #fff;
}

.other {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  width: 600px;
  gap: 10px;
  margin-left: 15px;
  justify-content: left; 
  font-size: 1.15em;
  padding-top: 10px;
  position: relative;
}

#logoid {
  position: absolute;
  right: 20px;
  transform: scale(1.5);
}

.infoTypeOther {
  width: 250px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 40px;
  justify-content: center;
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

.button {
  width: 200px;
  background-color: #3fb2d8;
  color: #000;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #747474;
  cursor: pointer;
  font-size: 1.2em;
  transition: transform 0.3s, background-color 0.3s;
  border-radius: 5px;
}

.button:hover {
  background-color: #6cc8ec;
  transform: scale(1.05);
  color: #fff;
}

.infoType {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile .infoTypeName {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 10px;
  padding-left: 30px;
  border-radius: 5px;
  font-size: 1.35em;
}

.infoTypeDisplay {
  margin-top: 10px;
  margin-bottom: 10px;
}

.infoDisplay {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #000;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitButton {
  font-size: 16px;
  color: #fff;
  background-color: #4cb95b;
  width: 65px;
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  border: 1px solid #747474;
}

.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #ff0000;
}

/* Password Requirements Styles */
.password-requirements {
  list-style-type: square;
  padding-left: 20px;
  font-weight: 500;
  margin: 15px 0;
}

.requirement {
  margin-bottom: 10px;
}

/* Footer Styles */
.footer {
  background-color: #fff;
  border-top: 2px solid #000;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  font-weight: bold;
}