<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% load static %}
    <!-- External Stylesheet -->
   
    <link rel="stylesheet" href="{% static 'css/admin_dash.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="{% static 'js/header.js' %}" defer></script>
</head>
<body>
    <div class="scaled-wrapper">
        <!-- Header -->
        <header class="header">
            <div class="container">
                <div class="logo-and-title">
                    <a href="{% url 'homepage' %}" class="logo-link">
                        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
                    </a>
                    <h1 class="site-title">Footprint</h1>
                </div>

                <!-- Burger Menu Button -->
                <button class="burger-menu" aria-label="Toggle Navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <nav class="nav">
                    {% if request.session.uid %}
                        {% if request.session.role == 'user' %}
                            <!-- Navigation links for regular users -->
                            <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                            <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                            <a href="{% url 'upload' %}" class="nav-link">Upload</a>
                            <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        
                        {% elif request.session.role == 'admin' %}
                            <!-- Navigation links for admins -->
                            <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                            <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                            <a href="{% url 'upload' %}" class="nav-link">Upload</a>
                            <a href="{% url 'admin_dashboard' %}" class="nav-link">Admin</a>
                            <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        {% endif %}
                    {% else %}
                        <!-- Navigation links for non-logged-in users -->
                        <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                        <a href="{% url 'signup' %}" class="nav-link">Sign Up</a>
                    {% endif %}
                    
                </nav>
            </div>
        </header>

        <!-- Main Content -->
        <div class="content-box">

            <main class="admin-container">
                <section>
                    <div class="title-container">
                        <h2>User Registrations</h2>
                        <div id="success-message" class="success-message-box">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if 'status_update' in message.tags %}
                                        {{ message }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <form method="get" action="{% url 'admin_dashboard' %}">
                        <!-- Status Filter Section -->
                        <label for="status-filter">Filter by Status:</label>
                        <select name="status" id="status-filter" onchange="this.form.submit()">
                            <option value="all" {% if status_filter|lower == 'all' %}selected{% endif %}>All</option>
                            <option value="approved" {% if status_filter|lower == 'approved' %}selected{% endif %}>Approved</option>
                            <option value="pending" {% if status_filter|lower == 'pending' %}selected{% endif %}>Pending</option>
                            <option value="denied" {% if status_filter|lower == 'denied' %}selected{% endif %}>Denied</option>
                        </select>

                        <!-- Date Sort Filter Section -->
                        <label for="date-sort">Sort by Date:</label>
                        <select name="date_sort" id="date-sort" onchange="this.form.submit()">
                            <option value="newest" {% if date_sort == 'newest' %}selected{% endif %}>Newest</option>
                            <option value="oldest" {% if date_sort == 'oldest' %}selected{% endif %}>Oldest</option>
                        </select>

                        <!-- Department Filter Section -->
                        <label for="department-filter">Filter by Department:</label>
                        <select name="department" id="department-filter" onchange="this.form.submit()">
                            <option value="">All Departments</option>
                            {% for department in department_names %}
                                <option value="{{ department }}" {% if department_filter == department %}selected{% endif %}>{{ department }}</option>
                            {% endfor %}
                        </select>

                    
                        <!-- Search Bar -->
                        <label for="search-query">Search:</label>
                        <input type="text" name="search" id="search-query" placeholder="name or email" value="{{ search_query }}">
                        <button type="submit" class="button search-button">Search</button>
                    
                        <!-- Clear Filters Button Section -->
                        <a href="{% url 'admin_dashboard' %}" class="button clear-filters-button">Reset</a>
                    </form>
                    
                        <!-- Pagination Box with Table -->
                        <div class="pagination-info">
                            <p>Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ total_count }} accounts</p>
                        </div>    
                        <!-- table displaying users accounts-->
                        <table>
                            <thead>
                                <tr>
                                    <th>Account Created</th>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Department</th>
                                    <th>Account Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users_list %}
                                    <tr>
                                        <td>{{ user.account_created|date:"M d, Y" }}<br>{{ user.account_created|date:"h:i a" }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.department_name }}</td>
                                        <td class="status-cell">
                                            <!-- displays and colors each account status -->
                                            <span class="status-box status-{{ user.account_status|lower }}">
                                                {{ user.account_status }}
                                            </span>
                                        </td>
                                        <td class="action-cell">
                                            <form method="POST" action="{% url 'update_account_status' user.email %}" onchange="if(this.new_status.value) this.submit();">
                                                {% csrf_token %}
                                                
                                                <!-- Hidden fields to retain the current status, department, search query, and page number -->
                                                <input type="hidden" name="status" value="{{ status_filter }}">
                                                <input type="hidden" name="department" value="{{ department_filter }}">
                                                <input type="hidden" name="search" value="{{ search_query }}">
                                                <input type="hidden" name="page" value="{{ page_obj.number }}">
                                            
                                                <select name="new_status" data-status="{{ user.account_status|lower }}">
                                                    <option value="" selected disabled>Change Status</option>
                                                    {% if user.account_status|lower != 'approved' %}
                                                        <option value="approved">Approve</option>
                                                    {% endif %}
                                                    {% if user.account_status|lower != 'pending' %}
                                                        <option value="pending">Pending</option>
                                                    {% endif %}
                                                    {% if user.account_status|lower != 'denied' %}
                                                        <option value="denied">Deny</option>
                                                    {% endif %}
                                                </select>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="pagination-container">
                            <span class="pagination-info-left">
                              Page {{ page_number }} of {{ num_pages }}
                            </span>
                            <div class="pagination-controls">
                              {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}&status={{ status_filter }}&department={{ department_filter }}&search={{ search_query }}">Previous</a>
                              {% endif %}
                              {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}&status={{ status_filter }}&department={{ department_filter }}&search={{ search_query }}">Next</a>
                              {% endif %}
                            </div>
                          </div>

                </section>
            </main>
        </div>        
    </div>

    <!-- Footer -->
    <footer>
        <p>2024 FOOTPRINT</p>
    </footer>

    <!-- Link to JavaScript -->
    <script src="{% static 'js/admin_dashboard.js' %}"></script>
</body>
</html>

<script>
    // Display the success message 
    window.addEventListener('DOMContentLoaded', function() {
        const messageBox = document.getElementById('success-message');
        
        if (messageBox && messageBox.innerText.trim() !== '') {
            messageBox.style.display = 'block'; 
            setTimeout(function() {
                messageBox.style.display = 'none'; 
            }, 10000); // total 10 seconds
        }
    });
</script>