<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <!-- External Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/passw_validation.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/name-validation.css' %}">
    <script src="{% static 'js/header.js' %}" defer></script>
    <script src="{% static 'js/signup.js' %}" defer></script>
</head>
<body class="signup-page">
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="logo-and-title">
                <a href="{% url 'homepage' %}" class="logo-link">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
                </a>
                <h1 class="site-title">Footprint</h1>
            </div>

            <!-- Burger Menu Button -->
            <button class="burger-menu" aria-label="Toggle Navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <nav class="nav">
                {% if request.session.uid %}
                    {% if request.session.role == 'user' %}
                        <!-- Navigation links for regular users -->
                        <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                        <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                        <a href="{% url 'upload' %}" class="nav-link">Upload</a>
                        <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    
                    {% elif request.session.role == 'admin' %}
                        <!-- Navigation links for admins -->
                        <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                        <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                        <a href="{% url 'upload' %}" class="nav-link">Upload</a>
                        <a href="{% url 'admin_dashboard' %}" class="nav-link">Admin</a>
                        <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    {% endif %}
                {% else %}
                    <!-- Navigation links for non-logged-in users -->
                    <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                    <a href="{% url 'signup' %}" class="nav-link">Sign Up</a>
                {% endif %}
                
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <!-- Sign Up Form Section -->
        <section class="signup-form-section">
            <h2>Create Your Account</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <!-- First Name Input -->
                <label for="signup-firstname">First Name:</label>
                <input type="text" id="signup-firstname" name="first_name" required value="{{ first_name }}" />
                <p class="error-message" id="first-name-error">Name should only contain letters.</p>

                <!-- Last Name Input -->
                <label for="signup-lastname">Last Name:</label>
                <input type="text" id="signup-lastname" name="last_name"  required value="{{ last_name }}" />
                <p class="error-message" id="last-name-error">Name should only contain letters.</p>

                <!-- Department Name Input -->
                <label for="signup-department">Department Name:</label>
                <input type="text" id="signup-department" name="department_name" required value="{{ department_name }}" />

                <!-- Email Input -->
                <label for="signup-email">Email:</label>
                <input type="email" id="signup-email" name="email" required value="{{ email }}" />

                <!-- Password Input -->
                <label for="signup-password">Password:</label>
                <div class="password-container">
                    <input type="password" name="password" id="signup-password" required autocomplete="off" spellcheck="false">
                    {% load static %}
                    <img src="{% static 'images/eye_hide.svg' %}" id="toggle-signup-password" class="toggle-text" data-eye-show="{% static 'images/eye.svg' %}" data-eye-hide="{% static 'images/eye_hide.svg' %}">                </div>


                <!-- Retype Password Input -->
                <label for="signup-password-confirm">Retype Password:</label>
                <div class="password-container">
                    <input type="password" id="signup-password-confirm" name="password_confirm"  required autocomplete="off" spellcheck="false">
                    {% load static %}
                    <img src="{% static 'images/eye_hide.svg' %}" id="toggle-signup-retyped-password" class="toggle-text" data-eye-show="{% static 'images/eye.svg' %}" data-eye-hide="{% static 'images/eye_hide.svg' %}">
                </div>
                <p class="error-message" id="password-match-error" style="color: red; display: none;">Passwords do not match.</p>

                <!-- Password Requirements -->
                <ul class="password-requirements">
                    <li id="length" class="requirement">
                        <i class="x-mark"></i> At least 8 characters
                    </li>
                    <li id="uppercase" class="requirement">
                        <i class="x-mark"></i> One uppercase letter
                    </li>
                    <li id="lowercase" class="requirement">
                        <i class="x-mark"></i> One lowercase letter
                    </li>
                </ul>

                <!-- Error Handling for Invalid Password -->
                {% if invalid_password_message %}
                    <p style="color: red;">{{ invalid_password_message }}</p>
                {% endif %}

                <!-- Submit Button -->
                <button type="submit" id="submit-button">Sign Up</button>
            </form>
        </section>

        <!-- Redirect to Login -->
        <section class="redirect-section">
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>2024 FOOTPRINT</p>
    </footer>

    <script src="{% static 'js/form_validation.js' %}"></script>
    <script src="{% static 'js/passw_validation.js' %}"></script>
</body>
</html>